blis==0.7.4
brotlipy==0.7.0
cachetools==4.2.2
catalogue==2.0.4
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
cycler==0.10.0
cymem==2.0.5
cytoolz==0.11.0
daiquiri==3.0.0
decorator==5.0.9
dominate==2.6.0
Flask==2.0.1
Flask-Bootstrap==3.3.7.1
idna==3.1
itsdangerous==2.0.1
jellyfish==0.8.2
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.2
metapype==0.0.3
multidict==5.1.0
murmurhash==1.0.5
networkx==2.5
numpy==1.21.0
olefile==0.46
packaging==21.0
pathy==0.6.0
Pillow==8.3.1
pip==21.1.3
preshed==3.0.5
psycopg2==2.9.1
pycparser==2.20
pydantic==1.8.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyphen==0.11.0
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.1
recordclass==0.14.3
requests==2.26.0
rfc3986==1.5.0
scikit-learn==0.24.2
scipy==1.7.0
setuptools==49.6.0.post20210108
shellingham==1.4.0
six==1.16.0
smart-open==5.1.0
spacy==3.1.0
spacy-legacy==3.0.8
srsly==2.4.1
textacy==0.11.0
thinc==8.0.7
threadpoolctl==2.2.0
toolz==0.11.1
tornado==6.1
tqdm==4.61.2
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.6
uWSGI==2.0.19.1
visitor==0.1.3
wasabi==0.8.2
Werkzeug==2.0.1
wheel==0.36.2
